<html>
  <head>
    <title>Loris</title>
    <body>
      Stadiums:
      <OL>
        <% data["stadiums"].each do |stadium| %>
        <LI>
           <%= stadium["name"] %>
        </LI>
        <LI>
           <%= stadium["city"] %>
        </LI>
        <br/>
        <% end %>
      </OL>
      </br>
       <table>
        <tbody>
            <tr>
                <th>Product</th>
                <th>Duration</th>
                <th>Unit Price</th>

            </tr>
            <tr>
               <% data["stadiums"].each do |stadium| %>
                <td>  <%= stadium["name"] %></td>
                <td><%= stadium["city"] %></td>
                <td><%= stadium["image"] %></td>

            </tr>
        </tbody>
    </table>
      
    </body>
</html>
